body {
  background-color: #eee;
}
.container {
  width: 100%;
}
#graphcontainer {
}
.pedigreelist {
  white-space: nowrap;
  list-style: none;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 0;
  margin: 0 0 .5em 0;
}
.pedigreelist ul {
  font-size: 92.5%;
}
.pedigreelist li {
  display: block;
  position: relative;
  margin-left: 1em;
}

.dog {
  white-space: normal;
  display: inline-block;
  border: 1px solid #bbb;
  padding: .3em;
  background-color: #fff;
  border-radius: .3em;
  width: 13em;
  position: relative;
  margin-right: 1em;
  margin-bottom: .3em;
  margin-top: .3em;
  transition: all .3s 0s;
  -webkit-transition: all .3s 0s;
}
.dog:hover, .hover {
  z-index: 100;
  transform: scale(1.25);
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari and Chrome */
  box-shadow: 0 .1em .5em 0 rgba(0,0,0,0.4);
}

.male         { border-radius: 0; }
.female       { border-radius: .6em; }
.male a::after   { content: ' (M) '; }
.female a::after { content: ' (F) '; }

.pedigreelist::before {
  content: '';
  display: block;
  position: absolute;
  left: -1.1em;
  top:50%;
  width: 1.1em;
  border-top: 1px solid #ccc;
}

.pedigreelist li::before {
  content: '';
  display: block;
  position: absolute;
  left: -1em;
  top: 50%;
  height: 50%;
  width: 1em;
  border-radius: .5em 0 0 0;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.pedigreelist li:last-child::before {
  top: 0%;
  border-radius: 0 0 0 .5em;
  border-top: none;
  border-bottom: 1px solid #ccc;
}
.pedigreelist li:only-child::before {
  top: 50%;
  width: 1em;
  left: -1em;
  height: 0%;
  border-left: none;
}

.dogcontainer {
  background: #fff;
  padding: 1em;
  border: 1px solid #ccc;
  overflow-x: auto;
}

.duplicate span {
  background-color: #999;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  width: 1.3em;
  height: 1.3em;
  line-height: 1.4em;
  bottom: .3em;
  right: .3em;
  font-size: 80%;
}
tr {
  border-bottom: 1px solid #ddd;
}
td, th {
  padding: .3em;
}
.percentagecontainer {
  width: 100%;
  height: 1em;
  background-color: #ddd;
}
.percentage {
  height: 100%;
  background-color: #428bca;
}

.missing {
  border-style: dotted !important;
  background-color: #fff !important;
  color: #bbb;
}

.father, .mother { padding-top: 1em;}

.father > .dog, .father .pedigreelist::before, .father li::before, .father li:last-child::before { border-color: #38d;}
.mother > .dog, .mother .pedigreelist::before, .mother li::before, .mother li:last-child::before { border-color: #d83;}

/* Mouseover detailbox */
.divpop {
  position: absolute;
  top: 100%;
  margin-top: -.6em;
  left: -1px;
  right: -1px;
  padding: .3em;
  opacity: 0;
  max-height: 0em;
  border-left: inherit;
  border-right: inherit;
  border-bottom: inherit;
  background-color: inherit;
  transition: all .3s 0s;
  -webkit-transition: all .3s 0s;
}

.dog:hover .divpop {
  display: block;
  opacity: 1;
  max-height: 5em;
  box-shadow: 0 .3em .3em 0 rgba(0,0,0,0.4);
}

.ownancestor {
  border-color: #b55;
}

.dogpic {
  float: right;
  max-width: 20em;
}


/* Loading indicator */
#blanket {
  background: rgba(0,0,0,0.2);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
}

#blanket:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

#blanketbox {
  display: inline-block;
  background: #fff;
  vertical-align: middle;
  text-align: left;
  padding: 1em;
  z-index:1000;
}